{% extends 'layout.html' %} {% load static %} {% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

<!-- Title -->
{% block title %}
<title>Home Page | {{website_name}}</title>
{% endblock %}
<!-- End Title -->

<!-- Header Section -->
{% block header %}
<header>
  <h1>Computer Lab Entry/Exit System</h1>
</header>
{% endblock %} {% block content %}
<style>
  #scanner-container {
    width: 100%;
    max-width: 500px;
    height: 300px;
    border: 2px solid #000;
    margin: auto;
    position: relative;
  }
  #barcode-result {
      font-size: 20px;
      margin-top: 10px;
  }
  button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
</style>
<div class="container">
  <!-- <label for="scanInput">Scan Barcoede or Enter Roll No</label> -->
  <!-- <div class="barcode-scan-group">
    <input
      type="text"
      id="scanInput"
      placeholder="Scan barcode or Enter manually"
      autofocus="true"
      onkeydown="scanningProcess(event)"
    />
    <button type="button" id="scanBtn" onclick="scanningProcess(event)">
      Scan
    </button>
  </div> -->
  <!-- <div id="scanner-container"></div> -->
  <p id="barcode-result">Scan a barcode...</p>
  <!-- <button onclick="startScanner()" class="btn btn-primary">Start Scanning</button>
  <button onclick="stopScanner()" class="btn btn-primary">Stop Scanning</button> -->

  <div id="resultContainer">
    <!-- This will be populated with student details after scanning -->
  </div>

  <!-- Dashboard Section -->
  <div class="dashboard">
    <div class="card">
      <h3>Lab Status</h3>
      <p id="labStatus">{{lab_status}}</p>
    </div>
    <div class="card">
      <h3>Students used Lab Today</h3>
      <p id="usersInLab">{{students_in_lab}}</p>
    </div>
  </div>

  <!-- Live Notifications Section -->
  <div class="live-notifications">
    <h4>Today Live Notifications</h4>
    <div id="notifications">
      {% for notification in notifications %}
      <div class="notification">{{ notification }}</div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{% static 'js/quagga.min.js' %}"></script>
<script>
  const scaninputEl = document.getElementById("scanInput");

  const scanningBarcode = (value) => {
      const barcodeValue = value;
      fetch("{% url 'scan_barcode' %}", {
        method: "POST",
        headers: {
          "X-CSRFToken": "{{csrf_token}}",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ barcode: barcodeValue }),
      })
        .then((res) => res.json())
        .then((res) => {
          console.log(res)
          if(res.status == 'error'){
            alert(res.message)
            scaninputEl.value = "";
            scaninputEl.focus();
            return
          }
          const data = res.data;
          console.log("Data : ", data);
          const resultContainer = document.querySelector("#resultContainer");
          let result = `
            <div class="result ${res.status}">
              <div class="informations">
                <h1>${res.message}</h1>
                <label>Roll No : ${data.student}</label>
                <label>Name : ${data.student_name}</label>
                <label>Department : ${data.department}</label>
                <label>Section : ${data.section}</label>
                <label>${res.status === "entry" ? "Entry Time" : "Exit Time"} : ${res.status === "entry" ? data.entry_time : data.exit_time}</label>
              </div>
              <div class="profile">
                <img src="${data.profile_image}" alt="student profile" />
              </div>
            </div>
          `;
          resultContainer.innerHTML = result;

          // Update lab status and users in lab
          document.getElementById("labStatus").innerText = data.lab_status;
          document.getElementById("usersInLab").innerText = data.students_in_lab;

          // Update live notifications
          const notifications = document.getElementById("notifications");
          const notification = document.createElement("div");
          notification.className = "notification";
          notification.innerText = `User ${data.student} ${res.status === "entry" ? "entered" : "exited"} the lab.`;
          notifications.prepend(notification);

          // scaninputEl.value = "";
          // scaninputEl.focus();
        })
        .catch((error) => console.error("Error : ", error));
    // }
  };

  var barcode = "";
  document.addEventListener('keydown', (e) => {
    if(e.key === 'Enter') {
      console.log('Barcode : ', barcode)
      scanningBarcode(barcode);
      barcode = '';
    } else {
      barcode = barcode + e.key;
    }
  });

  // function startScanner() {
  //       Quagga.init({
  //           inputStream: {
  //               name: "Live",
  //               type: "LiveStream",
  //               target: document.querySelector("#scanner-container"),
  //               constraints: {
  //                   // width: 500,
  //                   // height: 300,
  //                   facingMode: "environment" // Use the back camera
  //               }
  //           },
  //           decoder: {
  //               readers: ["ean_reader", "code_128_reader", "upc_reader"]
  //           }
  //       }, function (err) {
  //           if (err) {
  //               console.error("QuaggaJS Error:", err);
  //               return;
  //           }
  //           Quagga.start();
  //       });

  //       Quagga.onDetected(function (result) {
  //           document.getElementById("barcode-result").innerText = "Barcode: " + result.codeResult.code;
  //           scanningProcess(result.codeResult.code);
  //           setTimeout(() => {
  //               document.getElementById("barcode-result").innerText = "Scanning Barcode.."
  //           }, 1000)
  //       });
  //   }

  //   function stopScanner() {
  //       Quagga.stop();
  //   }
</script>
{% endblock %}
